name: Ensure source code is properly formatted

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  fmt:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run fmt
        run: make fmt

      - name: Run generate
        run: make generate

      - name: Check for changes
        run: git diff --exit-code
