name: Shellcheck

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  shellcheck:
    runs-on: k8s-nano
    name: Shellcheck
    steps:
      - name: Checkout repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Run
        run: |
          for FILE in $(find .github/actions -name '*.sh'); do
            echo "Running shellchek for ${FILE}"
            shellcheck "${FILE}"
          done
