name: Run go tests

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run go tests
        run: make test

  tftestprepare:
    runs-on: k8s-nano
    outputs:
      resources: ${{ steps.list.outputs.resources }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: List resources
        id: list
        shell: bash
        run: |
          resources="$(ls -1 pkg/resource|jq -R -s -c 'split("\n")[:-1]')"
          echo "resources=${resources}" >> "$GITHUB_OUTPUT"

  tftest:
    needs: ["tftestprepare"]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        resource: ${{ fromJSON(needs.tftestprepare.outputs.resources) }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run terraform acceptance tests
        run: make tftest RESOURCE=${{ matrix.resource }}
