name: Ensure go modules are tidy

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  tidy:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run go mod tidy
        run: go mod tidy

      - name: Check for changes
        run: git diff --exit-code
