name: Ensure go modules are tidy

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  tidy:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run go mod tidy
        run: go mod tidy

      - name: Check for changes
        run: git diff --exit-code
